.currentOrderWrapper {
  height: 54px;

  border-top: 1px dashed var(--accent);
  padding-top: 8px;
  display: flex;
}

.submitButton {
  color: var(--text);
  flex: 0 0 54px;
  background-color: var(--accent);
  border-radius: 50%;
  font-weight: 700;
  font-size: 0.7rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
}

.submitButton:disabled {
  cursor: auto;
  opacity: 0.5;
}

.orderTotal {
  flex: 0 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
