.currentOrderWrapper {
  height: 54px;

  border-top: 1px dashed var(--accent);
  padding-top: 8px;
  display: flex;
}

.orderTotal {
  flex: 0 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 612px) {
  .currentOrderWrapper {
    height: unset;
    flex-direction: column;
  }

  .submitButton {
    border-radius: 6px;
    margin: 0px 16px 16px;
    font-size: 1.2rem;
  }
}
