.orderItem {
  display: flex;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px dashed var(--accent);
}

.orderContent {
  flex: 1 1;
}

.orderItem button {
  flex: 0 0 54px;
  height: 54px;
  width: 54px;
  margin: 8px;
  border-radius: 50%;
  color: inherit;
  font-size: 0.7rem;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  background-color: var(--accent);
  border: none;
  padding: 0;
}

.orderTitle {
  font-weight: 700;
}

.deliveryAt {
  font-size: 0.8rem;
}
