.ordersList {
  flex: 1 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.noOrders {
  margin-left: 32px;
  font-size: 1.5rem;
}

.orderItem {
  display: flex;
  border-right: 1px dashed var(--accent);
  padding-right: 8px;
}

@media screen and (max-width: 612px) {
  .ordersList {
    flex-wrap: wrap;
  }

  .orderItem {
    flex: 1 1;
    min-width: 200px;
    border-right: none;
    border-bottom: 1px dashed var(--accent);
    padding-bottom: 4px;
    margin-bottom: 4px;
  }
}

.orderItemCount {
  font-size: 1.5rem;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderItemDetails {
  display: flex;
  flex-direction: column;
}
