html {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-box {
  position: relative;
  margin: 0 32px;
}

@media (max-aspect-ratio: 16/9) {
  @keyframes decider-mount {
    0% {
      height: 0;
    }
    100% {
      height: calc(100vw * 0.067);
    }
  }

  #image-box video {
    width: 100vw;
    height: calc(100vw * 0.5644);
  }

  #subtitle {
    font-size: 2.3vw;
    bottom: calc(100vw * 0.078);
  }

  #decider-wrapper {
    height: calc(100vw * 0.067);
  }

  #decider-wrapper .option .text {
    font-size: 2vw;
  }
}

@media (min-aspect-ratio: 16/9) {
  @keyframes decider-mount {
    0% {
      height: 0;
    }
    100% {
      height: 13.8vh;
    }
  }

  #image-box video {
    width: calc(100vh / 0.5644);
  }

  #subtitle {
    font-size: 4vh;
    bottom: 15vh;
  }

  #decider-wrapper {
    height: 13.8vh;
  }

  #decider-wrapper .option .text {
    font-size: 3vh;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #image-box {
    height: 100vh;
    width: 100vw;
  }

  #image-box video {
    height: unset;
    width: unset;
    transform: translate(-19%, 0);
  }

  @keyframes decider-mount {
    0% {
      height: 0;
    }
    100% {
      height: 20vh;
    }
  }

  #decider-wrapper {
    height: 20vh;
    width: 100vw !important;
    left: 0;
    bottom: 0;
    flex-wrap: wrap;
  }

  #decider-wrapper .option {
    flex: 0 0 40vw;
    min-width: 40vw;
  }

  #decider-wrapper .option .text {
    font-size: 5vw;
  }

  #subtitle {
    box-sizing: border-box;
    padding: 0 16px;
    font-size: 6vw;
    bottom: 45vw;
  }
}

@keyframes subtitle-changer {
  0% {
    content: ' ';
  }
  7% {
    content: 'Du må lage et GraphQL API, hva velger du?';
  }
  44% {
    content: ' ';
  }
  57% {
    content: 'Nå, hva blir det til?';
  }
  80% {
    content: ' ';
  }
  90% {
    content: 'Kom igjen...';
  }
}

.subtitle-esque-text {
  line-height: normal;
  font-weight: normal;
  color: #ffffff;
  text-shadow: #000000 0px 0px 7px;
  font-family: Helvetica Nueue, Helvetica, Arial, sans-serif;
  font-weight: bolder;
}

#subtitle {
  position: absolute;
  width: 100%;
  text-align: center;
}

#subtitle::before {
  content: ' ';
  animation: subtitle-changer 32s steps(6) infinite;
}

@keyframes options-mount {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes waiting-bar-animation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  13% {
    opacity: 1;
    width: 100%;
  }
  100% {
    width: 0%;
    opacity: 1;
  }
}

.waiting-bar {
  height: 3px;
  background-color: white;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  animation: waiting-bar-animation 30s linear infinite;
}

#decider-wrapper {
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  animation: decider-mount 2s ease-out;
}

#decider-wrapper .option .text {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

#decider-wrapper .option {
  transition: color 1s ease-in-out;
  color: #aaaaaa;
  background: none;
  border: none;
  max-width: 16%;
  height: 34px;
  flex: 1 1 16%;
  cursor: pointer;
  animation: options-mount 3s ease-out;
  outline: none;
}

#decider-wrapper .option:hover {
  color: white;
}

#decider-wrapper .option .underline {
  height: 4px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(124, 124, 124, 0.56) 5%,
    rgba(141, 141, 141, 1) 11%,
    rgba(255, 255, 255, 1) 50%,
    rgba(141, 141, 141, 1) 89%,
    rgba(124, 124, 124, 0.56) 95%,
    rgba(0, 0, 0, 0.2) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(124, 124, 124, 0.56) 5%,
    rgba(141, 141, 141, 1) 11%,
    rgba(255, 255, 255, 1) 50%,
    rgba(141, 141, 141, 1) 89%,
    rgba(124, 124, 124, 0.56) 95%,
    rgba(0, 0, 0, 0.2) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(124, 124, 124, 0.56) 5%,
    rgba(141, 141, 141, 1) 11%,
    rgba(255, 255, 255, 1) 50%,
    rgba(141, 141, 141, 1) 89%,
    rgba(124, 124, 124, 0.56) 95%,
    rgba(0, 0, 0, 0.2) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#decider-wrapper .option:hover .underline {
  opacity: 1;
}

#decider-wrapper .option:focus .underline {
  opacity: 1;
}

.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 101%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3vw;
  transition: opacity 700ms ease-in-out;
}

.loading-spinner.loading-false {
  opacity: 0;
}

.loading-spinner.done-false > .glitch {
  display: none;
}

.loading-spinner.done-true {
  opacity: 1;
}

.loading-spinner.done-true .spinner-ripple {
  display: none;
}

@keyframes spinner-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.spinner-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.spinner-ripple div {
  position: absolute;
  border: 4px solid #e50914;
  opacity: 1;
  border-radius: 50%;
  animation: spinner-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.spinner-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
  animation: shake 1s linear 1.35s;
}

@keyframes shake {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
