.header {
  height: 58px;
  background-color: #1f1f1f;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  padding: 0 16px;
  margin: 0;
}
