.orderListContainer {
  overflow: auto;
  flex: 0 0 25%;
  min-width: 250px;
  box-sizing: border-box;
}

@media screen and (max-width: 612px) {
  .orderListContainer {
    flex: 1 1;
  }
}

.listLoading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
