.orderListContainer {
  overflow: auto;
  flex: 0 0 25%;
  min-width: 250px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 612px) {
  .orderListContainer {
    flex: 1 1;
  }
}

.listLoading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerButton {
  color: inherit;
  font-size: inherit;
  margin: 4px 4px 4px 0;
  padding: 4px 4px 4px 0;
  background: none;
  border: none;
}

.headerButton h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
